/* This CSS file will need to be added to the styling of 
your web pages for the styles to be rendered. */

body {
  background-color: #333;
  color: white;
}

a {
  color: #ffc107;
}

.jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  // background-color: #333;
  text-align: center;
  margin: auto;

  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1.5rem;
  }
}

.space-above {
  margin-top: 20px;
  padding-top: 20px;
}

table {
  text-align: left;
}
